<%- include('partials/header'); -%>
<br>
<h1>COMPOSE</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <br>
      <label for="inputPostHeading">Post Title</label>
      <input type="text" class="form-control" id="inputPostHeading" name="heading" placeholder="Post Heading" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="inputPostContent">Content</label>
      <textarea class="form-control" id="inputPostContent" name="postcontent" row="5" cols="20" placeholder="Enter The Content Here" autocomplete="off"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary" name="button">Submit</button>
</form>
<br>

<%- include('partials/footer'); -%>